.footer {
    background-color: var(--mg-gray-1);
    padding: 0.5rem;
    border-top: 2px var(--mg-green) solid;
}

.footer > p {
    margin-bottom: 0;
}

.copyright {
    color: var(--mg-gray-6);
    text-align: center;
    font-size: 0.833rem;
    font-size: var(--step--1);
    margin: 0;
}
