/* set the button color variables inside the button.btn class */
button.btn {
    --button-color-primary: var(--mg-green);
    --button-color-secondary: var(--mg-orange-dark);
    --button-color-danger: var(--mg-red);
    --bg-img-lighten: linear-gradient(rgba(255, 255, 255, 0.1) 100%, transparent 100%);
    --bg-img-darken: linear-gradient(rgba(0, 0, 0, 0.1) 100%, transparent 100%);
    cursor: pointer;
    border: 0;
    border-radius: 0.1rem;
    transition: 0.3s;
}

button.btn:focus {
    outline: 1px var(--mg-gray-4) dashed;
}

button.btn:not(.text):focus {
    outline-offset: 0.5rem;
}

button.contained.primary {
    color: #ffffff;
    background-color: var(--button-color-primary);
}

button.contained.secondary {
    color: #ffffff;
    background-color: var(--button-color-secondary);
}

button.contained.danger {
    color: #ffffff;
    background-color: var(--button-color-danger);
}

button.outlined.primary {
    color: var(--button-color-primary);
    background-color: #ffffff;
    border: 1px var(--button-color-primary) solid;
}

button.outlined.secondary {
    color: var(--button-color-secondary);
    background-color: #ffffff;
    border: 1px var(--button-color-secondary) solid;
}

button.outlined.danger {
    color: var(--button-color-danger);
    background-color: #ffffff;
    border: 1px var(--button-color-danger) solid;
}

button.text {
    color: var(--mg-blue);
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
}

button.special {
    color: #ffffff;
    background-color: var(--mg-dark);
    padding: 0 0.25rem 0.25rem 0.25rem;
    margin: 0;
    border: 0;
}

button.small {
    font-size: clamp(0.83rem, 0.78rem + 0.19vw, 1rem);
    padding: 0.25rem 0.5rem;
}

button.medium {
    font-size: clamp(1rem, 0.93rem + 0.22vw, 1.2rem);
    padding: 0.5rem 1rem;
}

button.large {
    font-size: clamp(1.2rem, 1.12rem + 0.27vw, 1.44rem);
    padding: 0.75rem 1.5rem;
}

button.specialSize {
    font-size: 1.5rem;
    line-height: 1;
}

button.small.contained:hover {
    box-shadow: 0 0 0 1px #ffffff, 0 0 0 2px var(--mg-dark), 3px 3px 6px 2px var(--mg-gray-5);
    background-image: var(--bg-img-darken);
}

button:not(.small).contained:hover {
    box-shadow: 0 0 0 1px #ffffff, 0 0 0 2px var(--mg-dark), 4px 4px 8px 2px var(--mg-gray-5);
    background-image: var(--bg-img-darken);
}

button.small.outlined:hover {
    box-shadow: 1px 1px 3px 1px var(--mg-gray-3);
    background-image: var(--bg-img-darken);
}

button:not(.small).outlined:hover {
    box-shadow: 2px 2px 4px 2px var(--mg-gray-3);
    background-image: var(--bg-img-darken);
}

button.text:hover {
    color: var(--button-color-secondary);
    outline: 1px var(--mg-gray-3) dashed;
}

button.special:hover {
    cursor: pointer;
    filter: invert();
}

/* if anything needs to be changed (other than the button colors... aka themes), it's best to add code here that overides the original code... try not to change the original code */
