.headerContainer {
    width: 100%;
    border-bottom: 2px var(--mg-green) solid;
    background-color: var(--mg-gray-1);
    margin: 0;
    padding: 0;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0.5rem;
}

.h1 {
    font-size: var(--step-1-base);
    font-size: var(--step-1);
}

.leftDiv > p:last-of-type {
    margin-bottom: 0;
}

.leftDiv,
.rightDiv {
    padding: 0.25rem;
}

.rightDiv {
    text-align: right;
}
