:root {
    --container-min-width: 320px;
    --container-max-width: 1334px;

    --mg-beige: #f5f5dc;
    --mg-blue: #214fc6;
    --mg-cream: #fffdd0;
    --mg-dark: #232323;
    --mg-green-light: #87a96b; /* asparagus */
    --mg-green: #177245; /* dark spring green */
    --mg-green-dark: #195905 ; /* lincoln green */
    --mg-gray: #808080; /* html gray */
    --mg-gray-1: #f5f5f5; /* html whitesmoke */
    --mg-gray-2: #d3d3d3; /* html lightgray */
    --mg-gray-3: #c0c0c0; /* html silver */
    --mg-gray-4: #a9a9a9; /* html darkgray... it's a bug that its lighter than regular gray */
    --mg-gray-5: #808080; /* html gray */
    --mg-gray-6: #585858;
    --mg-gray-7: #232323;
    --mg-light: #ffffff;
    --mg-orange: #ff7518; /* html pumpkin */
    --mg-orange-dark: #c75000;
    --mg-orange-soft: #fcd581;
    --mg-purple: #6f42c1;
    --mg-red: #b71c1c;
    --mg-yellow: #fff44f; /* html lemon */
    --mg-yellow-pale: #ffffd5;

    /* start font sizes */

    --step--2-base: 0.694rem;
    --step--1-base: 0.833rem;
    --step-0-base: 1rem;
    --step-1-base: 1.2rem;
    --step-2-base: 1.44rem;
    --step-3-base: 1.728rem;
    --step-4-base: 2.074rem;
    --step-5-base: 2.488rem;

    --step--2: clamp(0.69rem, 0.65rem + 0.15vw, 0.83rem);
    --step--1: clamp(0.83rem, 0.78rem + 0.19vw, 1rem);
    --step-0: clamp(1rem, 0.93rem + 0.22vw, 1.2rem);
    --step-1: clamp(1.2rem, 1.12rem + 0.27vw, 1.44rem);
    --step-2: clamp(1.44rem, 1.34rem + 0.32vw, 1.73rem);
    --step-3: clamp(1.73rem, 1.61rem + 0.38vw, 2.07rem);
    --step-4: clamp(2.07rem, 1.94rem + 0.46vw, 2.49rem);
    --step-5: clamp(2.49rem, 2.32rem + 0.55vw, 2.99rem);

    /* end font sizes */
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 1rem;
    font-size: var(--step-0-base);
    font-weight: 400;
    height: 100%;
    line-height: 1.5;
    color: var(--mg-dark);
    background-color: var(--mg-light);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block;
}

/* End HTML5 display-role reset for older browsers */

[tabindex='-1']:focus:not(:focus-visible) {
    outline: 0 !important;
}

hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 0.25;
}

hr:not([size]) {
    height: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.25;
}

h1 {
    font-size: var(--step-5-base);
    font-size: var(--step-5);
}

h2 {
    font-size: var(--step-4-base);
    font-size: var(--step-4);
}

h3 {
    font-size: var(--step-3-base);
    font-size: var(--step-3);
}

h4 {
    font-size: var(--step-2-base);
    font-size: var(--step-2);
}

h5 {
    font-size: var(--step-1-base);
    font-size: var(--step-1);
}

h6 {
    font-size: var(--step-0-base);
    font-size: var(--step-0);
}

p {
    font-size: var(--step-0-base);
    font-size: var(--step-0);
    margin-top: 0;
    margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    cursor: help;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}

ol,
ul {
    padding-left: 2rem;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

dt {
    font-weight: 700;
}

dd {
    margin-bottom: 0.5rem;
    margin-left: 0;
}

blockquote {
    text-align: left;
    padding: 1rem 1.25rem;
    margin: 1.5rem 0;
    border-left: 8px solid var(--mg-orange);
    background-color: var(--mg-cream);
    font-size: 1.2rem;
    font-size: var(--step-1);
}

.blockquote-footer {
    display: block;
    font-size: 83.3%;
    font-size: var(--step--1);
    color: var(--mg-gray-4);
    margin-top: 1.5rem;
}

.blockquote-footer::before {
    content: '\2014\00A0';
}

b,
strong {
    font-weight: bolder;
}

small {
    font-size: 83.3%;
}

sub,
sup {
    position: relative;
    font-size: 0.75em;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

a {
    color: var(--mg-blue);
    text-decoration: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

a:link {
    color: var(--mg-blue);
    text-decoration: none;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

a:visited {
    color: var(--mg-purple);
    text-decoration: none;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

a:focus {
    outline: 2px var(--mg-gray-4) dotted;
    outline-offset: 0.25rem;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

a:hover {
    color: var(--mg-orange-dark);
    text-decoration: underline;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

a:active {
    color: var(--mg-orange-dark);
    text-decoration: underline;
}

a:not([href]),
a:not([href]):hover {
    color: inherit;
    text-decoration: none;
}

pre,
code,
kbd,
samp {
    font-family: Consolas, 'Courier New', Courier, monospace;
    font-size: 1em;
}

pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    font-size: var(--step--1-base);
    font-size: var(--step--1);
    color: var(--mg-gray-4);
    background-color: var(--mg-gray-1);
    border: 1px solid var(--mg-gray-2);
}

pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
}

code {
    font-size: var(--step--1-base);
    font-size: var(--step--1);
    color: var(--mg-gray-4);
    word-wrap: break-word;
}

a > code {
    color: inherit;
}

kbd {
    padding: 0.2rem 0.4rem;
    font-size: var(--step--1-base);
    font-size: var(--step--1);
    color: var(--mg-light);
    background-color: var(--mg-dark);
    border-radius: 0.2rem;
}

kbd kbd {
    padding: 0;
    font-size: 1em;
    font-weight: 700;
}

figure {
    margin: 0;
}

img {
    vertical-align: middle;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: var(--mg-gray-4);
    text-align: left;
    caption-side: bottom;
}

th {
    text-align: inherit;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

button {
    border-radius: 0;
}

button:focus {
    outline: 2px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

select {
    word-wrap: normal;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    padding: 0 0.25rem;
}

button:not(:disabled),
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled) {
    cursor: pointer;
}

textarea {
    overflow: auto;
    resize: vertical;
}

fieldset {
    min-width: 0;
    padding: 0.5rem;
    border: 1px var(--mg-gray-3) solid;
    margin: 1rem auto;
}

legend {
    background-color: var(--mg-gray-1);
    border: 1px var(--mg-gray-3) solid;
    padding: 0.25rem 1rem;
    margin-bottom: 1rem;
    font-size: var(--step-0-base);
    font-size: var(--step-0);
    line-height: inherit;
    color: inherit;
    white-space: normal;
}

mark {
    padding: 0.2em;
    background-color: var(--mg-yellow-pale);
}

progress {
    vertical-align: baseline;
}

[type='search'] {
    outline-offset: -2px;
}

output {
    display: inline-block;
}

summary {
    display: list-item;
    cursor: pointer;
}

template {
    display: none;
}

[hidden] {
    display: none !important;
}

.p-0 {
    padding: 0;
}

.m-0 {
    margin: 0;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

.static {
    position: static;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.sticky {
    position: sticky;
}

.bigger {
    font-size: larger;
}

.small {
    font-size: 0.833rem;
    font-size: var(--step--1-base);
}

.x-small {
    font-size: 0.694rem;
    font-size: var(--step--2-base);
}

.uppercase {
    text-transform: uppercase;
}

.muted {
    color: var(--mg-gray-5);
}

.mw-60ch {
    max-width: 60ch;
    margin: 0 auto;
}

.mw-75ch {
    max-width: 75ch;
    margin: 0 auto;
}

.mw-90ch {
    max-width: 90ch;
    margin: 0 auto;
}

/* the following media queries are left empty, but are included as a reminder of my standard break points */

@media (min-width: 480px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1366px) {
}
