.currentContainer {
    margin: 2rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px var(--mg-gray-2) solid;
}

.updateContainer,
.deleteContainer {
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.updateContainer {
    border: 1px var(--mg-green) solid;
}

.deleteContainer {
    border: 1px var(--mg-red) solid;
    background-image: repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 20px,
        var(--mg-gray-1) 20px,
        var(--mg-gray-1) 40px
    );
}

.currentHeading,
.updateHeading,
.deleteHeading {
    margin-bottom: 2rem;
}

.currentHeading > h3,
.updateHeading > h3,
.deleteHeading > h3 {
    font-size: 1.44rem;
    font-size: var(--step-2);
    margin: 0;
    padding: 0;
}

.currentHeading > h3 {
    color: var(--mg-green);
}

.updateHeading > h3 {
    color: var(--mg-orange-dark);
}

.deleteHeading > h3 {
    color: var(--mg--dark);
}

.updateButtonsHeading {
    font-size: var(--step-0-base);
    font-size: var(--step-0);
    font-weight: bolder;
    margin: 0 0 0.5rem 0;
    color: var(--mg-dark);
}

.description {
    font-size: 0.694rem;
    font-size: var(--step--2);
    color: var(--mg-gray-6);
    margin-right: 0.50rem;
    margin-right: clamp(0.25rem, 0.092rem + 0.789vw, 0.75rem);
}

.note {
    margin: 0.5rem 0 0 0;
    font-size: 0.833rem;
    font-size: var(--step--1);
}

.success {
    font-size: 0.833rem;
    font-size: var(--step--1);
    color: var(--mg-green);
}

.error {
    font-size: 0.833rem;
    font-size: var(--step--1);
    color: var(--mg-red);
}

.resetPageHeading {
    font-size: 1.44rem;
    font-size: var(--step-2);
}

.showButtonNav {
    margin: 0 0 2rem 0;
}

.showButtonNav button {
    display: block;
}
