.currentContainer,
.updateContainer {
    margin-bottom: 2rem;
}

.currentHeading,
.updateHeading,
.deleteHeading {
    font-size: 1.44rem;
    font-size: var(--step-2);
}

.currentHeading {
    color: var(--mg-green);
    margin-bottom: 2rem;
}

.updateButtonsHeading {
    font-size: var(--step-0-base);
    font-size: var(--step-0);
    font-weight: bolder;
    margin: 2rem 0 0.50rem 0;
    padding-top: 2rem;
    color: var(--mg-dark);
    border-top: 1px var(--mg-gray-2) solid;
}

.updateHeading {
    margin-top: 2rem;
    padding-top: 2rem;
    color: var(--mg-orange-dark);
    border-top: 1px var(--mg-gray-2) solid;
}

.deleteHeading {
    margin: 2rem 0 1.5rem 0;
    padding-top: 1rem;
    color: var(--mg--dark);
    border-top: 1px var(--mg-gray-2) solid;
}

.note {
    margin-bottom: 2rem;
}

.description {
    font-size: 0.833rem;
    font-size: var(--step--1);
    color: var(--mg-blue);
}

.success {
    font-size: 0.833rem;
    font-size: var(--step--1);
    color: var(--mg-green);
}

.error {
    font-size: 0.833rem;
    font-size: var(--step--1);
    color: var(--mg-red);
}

.resetPageHeading {
    font-size: 1.44rem;
    font-size: var(--step-2);
}

.showButtonNav button {
    display: block;
}